html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  padding: 5px 15px;
}

input {
  padding: 5px 15px;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 8px 0;
}

.form-group label {
  width: 150px;
}

.errorText {
  color: salmon;
  font-weight: 500;
}
